/* Init */
body{background-color: #f1f2f5}
.logo{width: 80px; height: 80px; margin-right: 20px;margin-bottom: 20px;}
.footer{font-weight: bold; margin-bottom: 30px;text-align: center;}
.text-center{text-align: center;}
.text-bold{font-weight: bold;}
.title{display: inline;font-size: 300%;font-weight:bold;color:#309FB5;}
.description{font-size:165%;color:#309FB5;}
.time{color:#7652B5; font-size:120%;margin-bottom: 30px;}
#minutes{position: absolute; top:0; right:0; font-style: italic; color: grey; font-size: 14px; max-width: 90px;}

/* Data */
#global{width: 100%; height: 400px;margin-bottom:50px;}
table td:nth-child(2){font-weight: bold;}
table td:nth-child(3){font-weight: bold; color: #186FB5;}
table td:nth-child(4){font-weight: bold; color: #006233;}
table td:nth-child(5){font-weight: bold; color: #E41E20;}
table td:nth-child(6){font-weight: bold; color: grey;}
span{font-size: 12px;}
.flagCountry{width: 70px; height: 50px;}
#nameCountry{font-weight: bold;}
h5{font-weight:bold;margin: 15px 0px;}
h6{font-style:italic;margin: 20px 0px;text-align: justify;letter-spacing: 1px;line-height: 200%;}
#imgCfmCovid{width: 100%; bottom: 0; position: absolute;}
.btnAboutTheData{border-radius: 0px 0px 22px 0px;}
.btnAboutTheData:hover{font-weight: bold;}

/* Loader */
.loader {margin-top: 15%;border: 10px solid #f3f3f3;border-top: 10px solid #65506D;border-radius: 50%;width: 120px; height: 120px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;}
@-webkit-keyframes spin{0%{-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);}}
@keyframes spin{0%{transform: rotate(0deg);}100%{transform:rotate(360deg);}}

/* Responsive */
@media screen and (max-width: 1024px) {
	#global{width: 100%; height: 200px;margin-bottom: 0px;}
	#countries{font-size:55%;width: 100%;}
	span{font-size: 8px;}
	.flagCountry{width: 30px; height: 25px;}
	.description{display: none;}
	.logo{margin-right: 0px;}
	.title{display: block;}
	.loader {margin-top: 25%;}
	table td:nth-child(2), table th:nth-child(1){display: none;}
	#imgCfmCovid{display: none;}
	.btnAboutTheData{font-size: 10px;}
	table{margin-top: 20px;}
	#minutes{font-size: 10px; max-width: 70px;}
}

