body{background-color: #f1f2f5}
body div {margin-top: 30px;}
.logo{width: 80px; height: 80px; margin-right: 20px;}
table td:nth-child(2){font-weight: bold;}
table td:nth-child(3){font-weight: bold; color: #186FB5;}
table td:nth-child(4){font-weight: bold; color: #006233;}
table td:nth-child(5){font-weight: bold; color: #E41E20;}
table td:nth-child(6){font-weight: bold; color: grey;}
.text-center{text-align: center;}
.text-bold{font-weight: bold;}
.footer{font-weight: bold; margin-bottom: 30px;text-align: center;}
span{font-size: 12px;}
.flagCountry{width: 70px; height: 50px;}