/* -----------------------------------------------
	COVID19 TRACKER
	Author: ToVinhKhang
	Portfolio: https://tovinhkhang.netlify.app/
------------------------------------------------*/

/* Init */
body{background-color: #f1f2f5}
.logo{width: 80px; height: 80px; margin-right: 20px;margin-bottom: 20px;}
.footer{font-weight: bold; margin-bottom: 30px;text-align: center;}
#designedBy{font-size: 1rem;}
.text-center{text-align: center;}
.text-bold{font-weight: bold;}
.title{display: inline;font-size: 300%;font-weight:bold;color:#309FB5;}
.description{font-size:165%;color:#309FB5;}
.time{color:#7652B5; font-size:120%;margin-bottom: 30px;}
.search{padding: 15px 30px;border: 1.5px solid #309FB5;background-color: #E8E8E8;border-radius: 100px;display: flex;align-items: center;width: 100%;max-width: 350px;margin-bottom: 20px; text-align: center; height: 40px; float: right;}
.search-icon{flex: 1;font-size: 16px;}
.search-input{border: 0;outline: none;width: 100%;padding: 0 15px; color: #1B7EB5; background-color: #E8E8E8;font-style: italic;}
.SwitchBar{position:absolute; right: 0px; padding: 0px; margin: 0px; width: 135px; border-radius: 0px 0px 0px 20px; height: 38px;}
.vnLogo,.WorldLogo{position:absolute; right: 90px; top: 2px; height: 32px;}
.vnDetailsFlag{width: 100%;border-radius: 10px;height: 300px;}
h2{text-align: center;margin: 20px; font-weight: bold;}
.txtVNTracker {display: none;}
.btnVNTracker:hover + .txtVNTracker {display: block;position: absolute;background-color: #309FB5;color: white;border-radius: 6px;font-size: 12px;padding: 5px;right: 10px;top: 50px;width: 100%;}
#SwitchLanguages{position: absolute;top:2px; right:0px;padding:0px;color: black; font-weight: bold;font-size:20px;}
#txtAboutData{position: absolute;top:1px; left:0px;padding:0px;color: black; font-weight: bold;font-size:18px;width: 125px;}
option{font-weight: bold;color: black;padding:15px!important;}
option:hover{background-color: #309FB5;color: white;}


/* Data World */
#global{width: 100%; height: 400px;margin-bottom:50px;}
span{font-size: 12px;}
.flagCountry{width: 70px; height: 50px;}
#nameAbData,#nameVaccine,#nameVaccineDetails{font-weight: bold;}
h5{font-weight:bold;margin: 15px 0px;letter-spacing: 1px;line-height: 200%; }
h6{font-style:italic;margin: 20px 0px;text-align: justify;letter-spacing: 1px;line-height: 200%; }
.plusSign{margin-top: 0px;}
#imgCfmCovid{width: 100%; bottom: 0; position: absolute;}
#imgVaccine,#imgVaccineDetails{width: 100%;border-radius: 25px;}
.btnAboutTheData{position:relative; left: 0px; padding: 0px; margin: 0px; width: 135px; border-radius: 0px 0px 20px 0px; height: 38px;}
.modal-content{padding: 10px;}
thead{display:table;width:100%;table-layout:fixed;}
.theadCities th{border: 2.5px solid #ddd;}
#table td:nth-child(2){font-weight: bold;}
#table td:nth-child(3){font-weight: bold; color: #186FB5;}
#table td:nth-child(4){font-weight: bold; color: #006233;}
#table td:nth-child(5){font-weight: bold; color: #E41E20;}
#table td:nth-child(6){font-weight: bold; color: grey;}
#table{display:block;height:500px;overflow:scroll; width: 100%;}
#table tr {display:table;width:100%;table-layout:fixed;}
#table::-webkit-scrollbar {display: none;}
.sortable-table thead .th-contries[data-sort-direction="1"]:after{content:"\25B4";}
.sortable-table thead .th-contries[data-sort-direction="-1"]:after{content:"\25BE"}
.sortable-table thead .numeric-sort[data-sort-direction="1"]:after{content:"\25B4"}
.sortable-table thead .numeric-sort[data-sort-direction="-1"]:after{content:"\25BE"}

/* Data Vietnam */
#content{display: none; margin-top: 20px;}
#content > .row > div{margin-bottom: 50px;}
.theadCities th:nth-child(2){text-align:center;}
.theadCities th:nth-child(3){text-align:center;}
.theadCities th:nth-child(4){text-align:center;}
#tableVN td, #tableVN th{border: 2.5px solid #ddd;padding: 8px;width: 100%;}
#tableVN th{padding-top: 12px;padding-bottom: 12px;background-color: #309FB5;color: white;}
#tableVN td:nth-child(1){padding-left:11px;padding-right: 11px;}
#tableVN td:nth-child(2){font-weight: bold; color: #186FB5;text-align:center;}
#tableVN td:nth-child(3){font-weight: bold; color: #006233;text-align:center;}
#tableVN td:nth-child(4){font-weight: bold; color: #E41E20;text-align:center;}
#tableVN tr:nth-child(even){background-color: #f2f2f2;}
#tableVN tr:hover {background-color: #ddd;}
#tableVN{border-collapse: collapse; height: 440px;width: 100%;overflow: scroll;display: block;}
#tableVN tr {display:table;width:100%;table-layout:fixed;}
#tableVN::-webkit-scrollbar {display: none;}
.sortable-table thead .theadCitiesProvinces[data-sort-direction="1"]:after{content:"\25B4";}
.sortable-table thead .theadCitiesProvinces[data-sort-direction="-1"]:after{content:"\25BE"}
.IncidenceRate,#IncidenceRate,.TotalCases,#TotalCases{color: #186FB5;text-align: center;}
.RecoveryRate,#RecoveryRate,.TotalRecovered,#TotalRecovered{color: #006233;text-align: center;}
.DeathRate,#DeathRate,.TotalDeaths,#TotalDeaths{color: #E41E20;text-align: center;}
.Population,#Population{color: grey;text-align: center;}
.IncidenceRate{font-size:14px;margin:0px;}
#IncidenceRate{font-size:22px;margin:0px;}
.RecoveryRate{font-size:14px;margin:0px;}
#RecoveryRate{font-size:22px;margin:0px;}
.DeathRate{font-size:14px;margin:0px;}
#DeathRate{font-size:22px;margin:0px;}
	
/* Dark Mode */
#darkMode{position: absolute; right: 57px; top: 5.8px;font-size:1.6em;}
.fa-sun-o{color: black;}
.fa-sun-o:hover{color: white;}
.fa-moon-o{color: white;}
.fa-moon-o:hover{color: black;}
.dark-mode {background-color: black!important;}
.dark-mode > div > #countries > table{background-color: #1c1e21!important;color: white;}
.dark-mode > #viewModalData > div > div{background-color: #1c1e21!important;}
.dark-mode > #viewModalData > div > div > .modal-header{color: #17a2b8!important;}
.dark-mode > #viewModalData > div > div > .modal-body{color: white!important;}
.dark-mode > #viewModalData > div > div > .modal-header > .close{color: white;}
.dark-mode > #viewModalVaccine > div > div{background-color: #1c1e21!important;}
.dark-mode > #viewModalVaccine > div > div > .modal-header{color: #17a2b8!important;}
.dark-mode > #viewModalVaccine > div > div > .modal-body{color: white!important;}
.dark-mode > #viewModalVaccine > div > div > .modal-header > .close{color: white;}
.dark-mode > #viewModalVaccineDetails > div > div{background-color: #1c1e21!important;}
.dark-mode > #viewModalVaccineDetails > div > div > .modal-header{color: #17a2b8!important;}
.dark-mode > #viewModalVaccineDetails > div > div > .modal-body{color: white!important;}
.dark-mode > #viewModalVaccineDetails > div > div > .modal-header > .close{color: white;}
.dark-mode > .footer{color: #a4adc8!important;}
.dark-mode h2{color: white!important;}
.dark-mode #tableVN > tr{background-color: #1c1e21!important;color: white;}
.dark-mode #tableVN td{border: 2px solid #309FB5!important;}
.dark-mode #tableVN th{border: 2px solid #309FB5!important;}
.dark-mode .theadCities{color:white!important;border: 2px solid #309FB5!important;background:#309FB5!important; }


/* Loader */
.loader {margin-top: 15%;border: 10px solid #f3f3f3;border-top: 10px solid #65506D;border-radius: 50%;width: 120px; height: 120px;-webkit-animation: spin 1.75s linear infinite;animation: spin 1.75s linear infinite;}
@-webkit-keyframes spin{0%{-webkit-transform: rotate(0deg);}100% {-webkit-transform: rotate(360deg);}}
@keyframes spin{0%{transform: rotate(0deg);}100%{transform:rotate(360deg);}}


/* Responsive */
@media screen and (max-width: 1024px) {
	#global{width: 100%; height: 240px;margin-bottom: 0px;}
	#countries{font-size:55%;width: 100%;}
	span{font-size: 8px;}
	.flagCountry{width: 30px; height: 25px;}
	.description{display: none;}
	.logo{margin-right: 0px;}
	.title{display: block;}
	.loader {margin-top: 25%;}
	#table td:nth-child(2), .th-contries-flags{display: none;}
	#imgCfmCovid{display: none;}
	.btnAboutTheData{width:115px;height:36.8px;}
	#txtAboutData{width: 105px;font-size:16px;padding-left:10px;top:5px;}
	.search{width: 100%;max-width: 100%;margin: 20px 0px; height: 18px;}
	.search-input{letter-spacing: 1px;border: 0;outline: none;width: 100%;padding: 0 15px; color: #1B7EB5; background-color: #E8E8E8;font-style: italic;}
	h5{font-size:110%;}h6{font-size:90%;}
	#darkMode{position: absolute; right: 46px; top: 5px;font-size:1.5em;}
	.SwitchBar{height:38.2px;width: 115px;}
	.vnLogo,.WorldLogo{top: 1px;right: 76px;}
	#SwitchLanguages{font-size:15px;top:5px;right:9px;}
	.btnVNTracker:hover + .txtVNTracker {display: none;}
	.theadCities{font-size: 10px;}
	.theadCities th:nth-child(1){text-align: center;padding-left:0px;padding-right: 0px;width: 100px;}
	#tableVN td:nth-child(1){width: 100px;padding-left:14px;padding-right: 14px;}
	#table{height:440px;}
	#tableVN{font-size: 10px;height:400px;}
	#countries{margin-bottom: 30px;}
	.footer{font-size: 10px;}
}
@media screen and (max-width: 768px) {
	.vnDetailsFlag{height: 50%;}
	.TotalCases{font-size:16px;}
	#TotalCases{font-size:30px;}
	.TotalRecovered{font-size:16px;}
	#TotalRecovered{font-size:30px;}
	.TotalDeaths{font-size:16px;}
	#TotalDeaths{font-size:30px;}
	.Population{font-size:16px;}
	#Population{font-size:30px;}
}
@media screen and (max-width: 720px) {
	.vnDetailsFlag{height: 80%;}
	.vnTotal,.vnRate{border: 2px solid #ddd;margin: 10px;border-radius:25px;padding:25px 10px 10px 10px;}
}

@media screen and (max-width: 420px) {
	.vnLogo{padding:0.5px;}
	.theadCities{font-size: 9px;}
	#tableVN{font-size: 9px;}
	.vnDetailsFlag{display:none;}
	#content > .row > div{margin-bottom:15px;}
	.vnTotal{padding-bottom:0px;}
	.vnRate{padding:10px;}
	h2{display: none;}
	.IncidenceRate{font-size:10px;}
	.RecoveryRate{font-size:10px;}
	.DeathRate{font-size:10px;}
	.SwitchBar{height:36.8px;}
}
@media screen and (max-width: 360px) {
	.IncidenceRate{font-size:7px;}
	#IncidenceRate{font-size:18px;}
	.RecoveryRate{font-size:7px;}
	#RecoveryRate{font-size:18px;}
	.DeathRate{font-size:7px;}
	#DeathRate{font-size:18px;}
	h2{display: none;}
}

