/* -----------------------------------------------
	COVID19 TRACKER
	Author: ToVinhKhang
	Portfolio: https://tovinhkhang.netlify.app/
------------------------------------------------*/

/* Responsive */
@media screen and (max-width: 1024px) {
	#global,#continent{width: 100%;margin-bottom: 30px;}
	#countries{font-size:55%;width: 100%;}
	span{font-size: 8px;}
	.flagCountry{width: 30px; height: 25px;}
	.description{display: none;}
	.logo{margin-right: 0px;}
	.title{display: block;}
	.loader {margin-top: 25%;}
	#table td:nth-child(2), .th-contries-flags{display: none;}
	#imgCfmCovid{display: none;}
	.btnAboutTheData{width:115px;height:36.8px;}
	#txtAboutData{width: 105px;font-size:16px;padding-left:10px;top:5px;}
	.search{width: 100%;max-width: 100%;margin: 20px 0px; height: 18px;}
	.search-input{letter-spacing: 1px;border: 0;outline: none;width: 100%;padding: 0 15px; color: #1B7EB5; background-color: #E8E8E8;font-style: italic;}
	h5{font-size:110%;}h6{font-size:90%;}
	#darkMode{position: absolute; right: 46px; top: 5px;font-size:1.5em;}
	.SwitchBar{height:38.2px;width: 115px;}
	.vnLogo,.WorldLogo{top: 1px;right: 76px;}
	#SwitchLanguages{font-size:15px;top:5px;right:9px;}
	.btnVNTracker:hover + .txtVNTracker {display: none;}
	.theadCities{font-size: 10px;}
	.theadCities th:nth-child(1){text-align: center;padding-left:0px;padding-right: 0px;width: 100px;}
	#tableVN td:nth-child(1){width: 100px;padding-left:10px;padding-right: 8px;}
	#tableVNdose td:nth-child(1){width: 100px;padding-left:10px;padding-right: 8px;}
	#tableVNvacDistribution td:nth-child(1){width: 100px;padding-left:10px;padding-right: 8px;}
	.theadCities th:nth-child(2){text-align: center;padding-left:0px;padding-right: 0px;width: 105px;}
	#tableVN td:nth-child(2){width: 105px;padding-left:14px;padding-right: 14px;}
	#tableVNdose td:nth-child(2){width: 105px;padding-left:14px;padding-right: 14px;}
	#tableVNvacDistribution td:nth-child(2){width: 105px;padding-left:14px;padding-right: 14px;}
	#table{height:225px;}
	#tableVN{font-size: 10px;height:450px;}
	#tableVNdose{font-size: 10px;height:155px;}
	#tableVNvacDistribution{font-size: 10px;height:155px;}
	#countries{margin-bottom: 30px;}
	.footer,#designedBy{font-size: 10px;}
	.imgVariant{border-radius:3px;}
	#txtNorthAmerica,#NorthAmerica{font-size: 150%;}
	#txtSouthAmerica,#SouthAmerica{font-size: 150%;}
	#txtEurope,#Europe{font-size: 150%;}
	#txtAsia,#Asia{font-size: 150%;}
	#txtAfrica,#Africa{font-size: 150%;}
	#txtOceania,#Oceania{font-size: 150%;}
	.continent{margin: 20px;}
}
@media screen and (max-width: 768px) {
	#tableVN{height:300px;}
	.vnDetailsFlag{height: 50%;}
	.TotalCases{font-size:16px;}
	#TotalCases{font-size:30px;}
	#GlobalCases{font-size:25px;}
	.TotalRecovered{font-size:16px;}
	#TotalRecovered{font-size:30px;}
	#GlobalRecovered{font-size:25px;}
	.TotalDeaths{font-size:16px;}
	#TotalDeaths{font-size:30px;}
	#GlobalDeaths{font-size:25px;}
	.Population{font-size:16px;}
	#Population{font-size:30px;}
	.IncidenceRate,.RecoveryRate,.DeathRate,.vacFullyVaccinatedRate{font-size:12px;margin:0px;}
	.SoftwareInfo{font-size:12px;}
	#aboutGuide{word-break: break-all;}
	#txtGlobal{width: 100px;font-size: 20px;}
	#txtContinent{width: 140px;font-size: 20px;}
	#txtCasesDataChart,#txtDeathsDataChart{width: 100px;font-size: 20px;}
	#txtDoseVaccinatedDataChart{width: 200px;font-size: 20px;}
	#message{font-size: 14px;}
	.reference{font-size:75%;}
	#txtNorthAmerica{font-size: 90%;}
	#txtSouthAmerica{font-size: 90%;}
	#txtEurope{font-size: 90%;}
	#txtAsia{font-size: 90%;}
	#txtAfrica{font-size: 90%;}
	#txtOceania{font-size: 90%;}
	.continent{margin: 18px;}
}
@media screen and (max-width: 720px) {
	.vnDetailsFlag{height: 80%;}
	.vnTotal,.vnRate{border: 2px solid #ddd;margin: 10px;border-radius:25px;padding:25px 10px 10px 10px;}
	#LastUpdated{font-size:10px;}
	.dailyChart,.TitleDetails{font-size: 200%;}
	
}

@media screen and (max-width: 540px){
	.TotalCases{font-size:13px;}
	.TotalRecovered{font-size:13px;}
	.TotalDeaths{font-size:13px;}
	.Population{font-size:13px;}
	#scrollTop{bottom: 15px;right: 15px;font-size: 16px;border: none;padding: 8px;border-radius: 6px;}
	.vnLogo{padding:0.5px;}
	.theadCities{font-size: 9px;}
	#tableVN{font-size: 9px;height:190px;}
	#tableVNdose{font-size: 9px;}
	.vnDetailsFlag{display:none;}
	#content > .row > div{margin-bottom:15px;}
	.vnTotal{padding-bottom:0px;}
	.vnRate{padding:10px;}
	h2{display: none;}
	.vaccines{font-size:7px;margin:0px;font-weight:bold;}
	.IncidenceRate,.RecoveryRate,.DeathRate,.vacFullyVaccinatedRate{font-size:10px;}
	.SwitchBar{height:36.8px;}
	#aboutGuide{line-height: 30px;}
	#table td:nth-child(6){font-size:7.5px;}
	#aboutGuide td:nth-child(1){width:48%;}
	.imgBrowserIcon{width:20px; height:20px;}
	.imgBrowserEdge{width:18px; height:18px;}
	#vacTotal,#vacOneDose,#vacTwoDose{font-size:18px;margin:5px;}
	#totalPlanned,#totalRealistic,#totalDistriRate{font-size:18px;margin:5px;}
	#TotalCases,#TotalRecovered,#TotalDeaths,#Population,#IncidenceRate,#RecoveryRate,#DeathRate{font-weight:500;}
	#txtCasesDataChart,#txtDeathsDataChart{width: 150px;}
	#txtDoseVaccinatedDataChart{width: 210px;}
	.dailyChart,.TitleDetails{font-size: 150%;}
	#AllChart{padding-top:0px;}
	#tableVNvacDistribution{font-size: 9px;}
	h4{font-size:100%;}
	h5{font-size:70%;}
	.reference{float: inherit;text-align: center;}
	#txtNorthAmerica{font-size: 70%;}#NorthAmerica{font-size: 130%;}
	#txtSouthAmerica{font-size: 70%;}#SouthAmerica{font-size: 130%;}
	#txtEurope{font-size: 70%;}#Europe{font-size: 130%;}
	#txtAsia{font-size: 70%;}#Asia{font-size: 130%;}
	#txtAfrica{font-size: 70%;}#Africa{font-size: 130%;}
	#txtOceania{font-size: 70%;}#Oceania{font-size: 130%;}
	#txtNorthAmerica,#txtSouthAmerica,#txtEurope,#txtAsia,#txtAfrica,#txtOceania{font-weight: bold;}
	#txtGlobalDeaths,#txtGlobalRecovered,#txtGlobalCases {font-size: 68%;}
}
@media screen and (max-width: 376px) {
	.IncidenceRate{font-size:7px;}
	#IncidenceRate{font-size:18px;}
	.RecoveryRate{font-size:7px;}
	#RecoveryRate{font-size:18px;}
	.DeathRate{font-size:7px;}
	#DeathRate{font-size:18px;}
	.vacFullyVaccinatedRate{font-size:7px;}
	.vaccines{font-size:6px;}
	#vacTotal,#vacOneDose,#vacTwoDose{font-size:15px;}
	#totalPlanned,#totalRealistic,#totalDistriRate{font-size:15px}
	#vacFullyVaccinatedRate{font-size:18px;}
	h2{display: none;}
	#aboutGuide td:nth-child(1){width:50%;}
	#table td:nth-child(6){font-size:7px;}
	h5{font-size:60%;}
	.reference{font-size:80%!important;}
	#txtNorthAmerica{font-size: 58%;}#NorthAmerica{font-size: 100%;}
	#txtSouthAmerica{font-size: 58%;}#SouthAmerica{font-size: 100%;}
	#txtEurope{font-size: 58%;}#Europe{font-size: 100%;}
	#txtAsia{font-size: 58%;}#Asia{font-size: 100%;}
	#txtAfrica{font-size: 58%;}#Africa{font-size: 100%;}
	#txtOceania{font-size: 58%;}#Oceania{font-size: 100%;}
	#txtGlobalDeaths,#txtGlobalRecovered,#txtGlobalCases {font-size: 60%;}
}
@media screen and (max-width: 360px) {
	.TotalCases{font-size:12px;}
	#TotalCases{font-size:25px;}
	.TotalRecovered{font-size:12px;}
	#TotalRecovered{font-size:25px;}
	.TotalDeaths{font-size:12px;}
	#TotalDeaths{font-size:25px;}
	.Population{font-size:12px;}
	#Population{font-size:25px;}
	#tableVN td:nth-child(1){width: 81.88px;padding-left:10px;padding-right: 8px;}
	#tableVNdose td:nth-child(1){width: 81.88px;padding-left:10px;padding-right: 8px;}
	#tableVNvacDistribution td:nth-child(1){width: 81.88px;padding-left:10px;padding-right: 8px;}
	.theadCities th:nth-child(1),.theadCities th:nth-child(2){text-align: center;padding-left:0px;padding-right: 0px;width: 81.88px;}
	#tableVN td:nth-child(2){width: 81.88px;padding-left:14px;padding-right: 14px;}
	#tableVNdose td:nth-child(2){width: 81.88px;padding-left:14px;padding-right: 14px;}
	#tableVNvacDistribution td:nth-child(2){width: 81.88px;padding-left:14px;padding-right: 14px;}
	.continent{margin: 12px;}
	#txtGlobalDeaths,#txtGlobalRecovered,#txtGlobalCases {font-size: 58%;}
}
@media screen and (max-width: 320px) {
	.TotalCases{font-size:9px;}
	#TotalCases{font-size:16px;}
	#GlobalCases{font-size:14px;}
	.TotalRecovered{font-size:9px;}
	#TotalRecovered{font-size:16px;}
	#GlobalRecovered{font-size:14px;}
	.TotalDeaths{font-size:9px;}
	#TotalDeaths{font-size:16px;}
	#GlobalDeaths{font-size:14px;}
	.Population{font-size:9px;}
	#Population{font-size:16px;}
	#IncidenceRate{font-size:16px;}
	#RecoveryRate{font-size:16px;}
	#DeathRate{font-size:16px;}
	
	#txtNorthAmerica{font-size: 40%;}#NorthAmerica{font-size: 70%;}
	#txtSouthAmerica{font-size: 40%;}#SouthAmerica{font-size: 70%;}
	#txtEurope{font-size: 40%;}#Europe{font-size: 70%;}
	#txtAsia{font-size: 40%;}#Asia{font-size: 70%;}
	#txtAfrica{font-size: 40%;}#Africa{font-size: 70%;}
	#txtOceania{font-size: 40%;}#Oceania{font-size: 70%;}
}
