/* -----------------------------------------------
	COVID19 TRACKER
	Author: ToVinhKhang
	Portfolio: https://tovinhkhang.netlify.app/
------------------------------------------------*/


/* Data Vietnam */
#content{display: none; margin-top: 20px;}
#content > .row > div{margin-bottom: 50px;}
.boxTitleDetails{text-align: center; margin-bottom:20px!important;color:#141A21;}
.theadCities th:nth-child(2){text-align:center;}
.theadCities th:nth-child(3){text-align:center;}
.theadCities th:nth-child(4){text-align:center;}
#tableVN td, #tableVN th{border: 2.5px solid #ddd;padding: 8px;width: 100%;}
#tableVN th{padding-top: 12px;padding-bottom: 12px;background-color: #309FB5;color: white;}
#tableVN td:nth-child(1){padding-left:11px;padding-right: 11px;}
#tableVN td:nth-child(2){font-weight: bold; color: #186FB5;text-align:center;}
#tableVN td:nth-child(3){font-weight: bold; color: #006233;text-align:center;}
#tableVN td:nth-child(4){font-weight: bold; color: #E41E20;text-align:center;}
#tableVN tr:nth-child(even){background-color: #f2f2f2;}
#tableVN tr:hover {background-color: #ddd;}
#tableVN{border-collapse: collapse; height: 440px;width: 100%;overflow: scroll;display: block;}
#tableVN tr {display:table;width:100%;table-layout:fixed;}
#tableVN::-webkit-scrollbar {display: none;}


#tableVNdose td, #tableVNdose th{border: 2.5px solid #ddd;padding: 8px;width: 100%;}
#tableVNdose th{padding-top: 12px;padding-bottom: 12px;background-color: #309FB5;color: white;}
#tableVNdose td:nth-child(1){padding-left:11px;padding-right: 11px;}
#tableVNdose td:nth-child(2){font-weight: bold; color: #7D58CC;text-align:center;}
#tableVNdose td:nth-child(3){font-weight: bold; color: #CC497F;text-align:center;}
#tableVNdose td:nth-child(4){font-weight: bold; color: #CC6634;text-align:center;}
#tableVNdose tr:nth-child(even){background-color: #f2f2f2;}
#tableVNdose tr:hover {background-color: #ddd;}
#tableVNdose{border-collapse: collapse; height: 440px;width: 100%;overflow: scroll;display: block;}
#tableVNdose tr {display:table;width:100%;table-layout:fixed;}
#tableVNdose::-webkit-scrollbar {display: none;}

#tableVNvacDistribution td, #tableVNvacDistribution th{border: 2.5px solid #ddd;padding: 8px;width: 100%;}
#tableVNvacDistribution th{padding-top: 12px;padding-bottom: 12px;background-color: #309FB5;color: white;}
#tableVNvacDistribution td:nth-child(1){padding-left:11px;padding-right: 11px;}
#tableVNvacDistribution td:nth-child(2){font-weight: bold; color: #37736E;text-align:center;}
#tableVNvacDistribution td:nth-child(3){font-weight: bold; color: #37736E;text-align:center;}
#tableVNvacDistribution td:nth-child(4){font-weight: bold; color: #37736E;text-align:center;}
#tableVNvacDistribution tr:nth-child(even){background-color: #f2f2f2;}
#tableVNvacDistribution tr:hover {background-color: #ddd;}
#tableVNvacDistribution{border-collapse: collapse; height: 440px;width: 100%;overflow: scroll;display: block;}
#tableVNvacDistribution tr {display:table;width:100%;table-layout:fixed;}
#tableVNvacDistribution::-webkit-scrollbar {display: none;}

.sortable-table thead .theadCitiesProvinces[data-sort-direction="1"]:after{content:"\25B4";}
.sortable-table thead .theadCitiesProvinces[data-sort-direction="-1"]:after{content:"\25BE"}
.IncidenceRate,#IncidenceRate,.TotalCases,#TotalCases{color: #186FB5;text-align: center;}
.RecoveryRate,#RecoveryRate,.TotalRecovered,#TotalRecovered{color: #006233;text-align: center;}
.DeathRate,#DeathRate,.TotalDeaths,#TotalDeaths{color: #E41E20;text-align: center;}
#TotalCases,#TotalRecovered,#TotalDeaths,#Population,#IncidenceRate,#RecoveryRate,#DeathRate{font-weight:610;}
.Population,#Population{color: grey;text-align: center;}
.IncidenceRate{font-size:14px;margin:0px;}
#IncidenceRate{font-size:22px;margin:0px;}
.RecoveryRate{font-size:14px;margin:0px;}
#RecoveryRate{font-size:22px;margin:0px;}
.DeathRate{font-size:14px;margin:0px;}
#DeathRate{font-size:22px;margin:0px;}
.vacFullyVaccinatedRate{font-size:14px;margin:0px;color: grey;text-align: center;}
#vacFullyVaccinatedRate{font-size:22px;margin:0px;color: grey!important;}

.chart{padding:25px;}
#AllChart{padding:25px 25px 0px 25px;}
.vaccines{font-size:18px;margin-top:20px;text-align: center;color:#666666;}
#vacFullyVaccinatedRate{margin:0px;text-align: center;color:grey;font-size:22px;font-weight:610;}
#vacTotal{margin:0px;text-align: center;color:#7D58CC;font-size:40px;font-weight:bold;}
#vacOneDose{margin:0px;text-align: center;color:#CC497F;font-size:40px;font-weight:bold;}
#vacTwoDose{margin:0px;text-align: center;color:#CC6634;font-size:40px;font-weight:bold;}
#totalPlanned{margin:0px;text-align: center;color:#37736E;font-size:40px;font-weight:bold;}
#totalRealistic{margin:0px;text-align: center;color:#37736E;font-size:40px;font-weight:bold;}
#totalDistriRate{margin:0px;text-align: center;color:#37736E;font-size:40px;font-weight:bold;}
.box{margin:10px 0px;}

#fieldsetDeathsDataChart,#fieldsetDoseVaccinatedDataChart{margin:40px 0px 0px 0px;padding:0;border: 3px solid #ddd; border-radius: 30px;}
#fieldsetCasesDataChart{margin:20px 0px 0px 0px;padding:0;border: 3px solid #ddd; border-radius: 30px;}
#txtDeathsDataChart,#txtCasesDataChart{width: 200px;text-align: center;margin: 0px;font-weight: bold;font-size: 40px;}
#txtDoseVaccinatedDataChart{width: 400px;text-align: center;margin: 0px;font-weight: bold;font-size: 40px;}
.dailyChart,.TitleDetails{text-align: center; font-weight: bold; font-size: 280%;margin: 0px;letter-spacing: 2.5px;}
#message{text-align:center; display: none; font-size: 30px;}
